<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label attr.for="password" position="floating">Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label attr.for="password" position="floating">Correo Electronico</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label attr.for="password" position="floating">Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label attr.for="password" position="floating">Confirmar Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button size="full">Registrar</ion-button>
  </form>

</ion-content>
