<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formRegister="ngForm" (ngSubmit)="handleSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
      [(ngModel)]="name"
      [ngModelOptions]="{standalone: true}"
      required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input
      [(ngModel)]="email"
      [ngModelOptions]="{standalone: true}"
      type="email"
      required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
      [(ngModel)]="password"
      [ngModelOptions]="{standalone: true}"
      type="password"
      required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input
      [(ngModel)]="rePassword"
      [ngModelOptions]="{standalone: true}"
      type="password"
      required
      ></ion-input>
    </ion-item>
    <ion-button size="full" type="submit">Registrar</ion-button>
  </form>

</ion-content>
