<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultas</ion-title>
  </ion-toolbar>
  <ion-searchbar (ionChange)="handleSearch($event)" ></ion-searchbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" button (click)="goCreate()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let c of consultas" button (click)="goDetails(c.Id)" >
      <ion-label>
        <h2>
          {{c.Nombre}} {{c.Apellido}}
        </h2>
        <h3>
          {{c.Fecha}}
        </h3>
      </ion-label>
      <ion-note>Ver Detalles</ion-note>
    </ion-item>

  </ion-list>

</ion-content>
