<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pacientes-listar"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #loginForm="ngForm" (ngSubmit)="handleSubmit()" >
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
        [(ngModel)]="name"
        [ngModelOptions]="{standalone: true}"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input
        [(ngModel)]="last"
        [ngModelOptions]="{standalone: true}"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cedula</ion-label>
      <ion-input
        [(ngModel)]="document"
        [ngModelOptions]="{standalone: true}"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sexo</ion-label>
      <ion-select placeholder="Seleccione"
      [(ngModel)]="sexo"
      [ngModelOptions]="{standalone: true}"
      required
      >
        <ion-select-option value="Femenino">Femenino</ion-select-option>
        <ion-select-option value="Masculino">Masculino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-datetime
        displayFormat="DD-MM-YYYY"
        [(ngModel)]="date"
        [ngModelOptions]="{standalone: true}"
        required
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo de Sangre</ion-label>
      <ion-input
        [(ngModel)]="blood"
        [ngModelOptions]="{standalone: true}"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Alergia</ion-label>
      <ion-select multiple="true"
      [(ngModel)]="allergy"
      [ngModelOptions]="{standalone: true}"
      multiple="true"
      required
      >
        <ion-select-option *ngFor="let a of allergyList" value="{{a}}">{{a}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item button (click)="handlePhoto()"  >
      <ion-label >Agregar Foto</ion-label>
      <ion-icon slot="start" [ios]="'image'" [md]="'image'" ></ion-icon>
    </ion-item>
    
    <ion-button size="full" type="submit" >Registrar</ion-button>
  </form>
  
</ion-content>

<!--

  <ion-item>
    <ion-label id="profile_image" color="primary" stacked>Profilbild wählen</ion-label>
    <ion-input type="file" accept="image/*" id="upload" (ionChange)="imageFilePath_change($event)"></ion-input>
  </ion-item>
-->